:global {
    .wrapper {
        display: flex;
        flex-direction: column;

        & > div {
            display: flex;
            flex-direction: row;

            & > aside {
                margin-right: 3rem;
                width: 10rem;
                padding-left: 3rem;
            }
        }

        & > header {
            font-size: 2rem;
            margin: 2rem 3rem;
        }

        .loading{
            font-size: 5rem;
            margin-left: 3rem;
        }
    }
}

* {
    margin: 0;
    padding: 0;
}
